body{
    background: white;
    font-family: "Vollkorn", Georgia, serik; 
}

body, h3, h2, h1, ul, li, a, blockquote, span, p, header{
    margin: 0px;
    padding: 0px;
}

h3{
    
    color: rgb(0, 0, 0, .7);
}
p{
    
    color: rgb(0, 0, 0, .7);
}
h1{
    
    color: rgb(0, 0, 0, .7);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100px;
}

.estrutura{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 80vw;
    height: 80vh;
    box-shadow: 10px 10px 20px  rgb(0, 0, 0,.4);
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "aside content";
}

.side{
    grid-area: aside;
    height: 80vh;
    background: linear-gradient(180deg, #4B0082, #8600e8);
    display: flex;
    flex-direction: column;
}

.content{
    grid-area: content;
}

#nome{
    color: rgb(255, 255, 255, 0.95);
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 1.5vw;
    
}

.foto-perfil{
    margin: 1vh 1vw 1vh 1vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: solid rgb(255, 255, 255,.95) 0.4vw;
    max-width: 8vw;
    box-shadow: 0.5vw 0.5vh 1vw rgb(0, 0, 0,.4);
}

.desc-perfil{
    color: rgb(255, 255, 255, 0.95);
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    padding: 1vh 1vw 1vh 1vw; 
    font-size:0.9vw;
}

.contato{
    display: flex;
    justify-content: space-around;
    padding: 1vh 1vw 1vh 1vw;
}

.github{
    border: solid rgb(255, 255, 255,.95) 0.2vw;
    border-radius: 100px;
    max-width: 2vw;
    box-shadow: 0.3vw 0.3vh 1vw rgb(0, 0, 0,.4);
    transition: 500ms;
}

.github:hover{
    transform: scaleY(1.2) scaleX(1.2)
}

.linkedin{
    border: solid rgb(255, 255, 255,.95) 0.2vw;
    border-radius: 100px;
    max-width: 2vw;
    box-shadow: 0.3vw 0.3vh 1vw rgb(0, 0, 0,.4);
    transition: 500ms;
}

.linkedin:hover{
    transform: scaleY(1.2) scaleX(1.2)
}

.instagram{
    max-width: 2vw;
    border: solid rgb(255, 255, 255,.95) 0.2vw;
    border-radius: 100px;
    box-shadow: 0.3vw 0.3vh 1vw rgb(0, 0, 0,.4);
    transition: 500ms;
}

.instagram:hover{
    transform: scaleY(1.2) scaleX(1.2)
}

.about-me{
    padding: 1vh 1vw 1vh 1vw;
    margin-right: auto;
    margin-left: auto;
    color: rgb(255, 255, 255, 0.95);
    background: rgb(0, 0, 0,.4);
    border-radius: 0.5vw;
    font-size:0.9vw;
    transition: 500ms;
}

.about-me:hover{
    box-shadow: 0.3vw 0.3vh 1vw rgb(0, 0, 0,.4);
    transform: scaleY(1.2) scaleX(1.2)
}

.telegram{
    width: 10vw;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1vh 1vw 1vh 1vw;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255, 0.95);
    background: rgb(0, 0, 0,.4);
    border-radius: 0.5vw;
    transition: 500ms;
}

.telegram:hover{
    box-shadow: 0.3vw 0.3vh 1vw rgb(0, 0, 0,.4);
    transform: scaleY(1.2) scaleX(1.2)
}

.telegram img{
    max-width: 2vw;
}

.telegram a{
    margin: auto;
    color: rgb(255, 255, 255, 0.95);
    font-size:1vw;
}

.content{
    background: linear-gradient(180deg, #F5F5F5, #ffffff);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh 1vw 1vh 1vh;
}

.about-content{
    grid-column: 1/3;
}

.foto-content{
    max-width: 80%;
    margin: auto;
    grid-column: 3/4;
    box-shadow: 0.3vw 0.3vh 1vw rgb(0, 0, 0,.4);
}

.desc-content{
    padding: 1vh 1vw 1vh 1vw;
    color: rgb(0, 0, 0, .7);
    font-size: 1.5vh;
}

.nome-content{
    padding: 1vh 1vw 1vh 1vw;
    color: rgb(0, 0, 0, .7);
    font-size: 3.5vh;
}

.titulo-content{
    padding: 1vh 1vw 1vh 1vw;
    color: rgb(0, 0, 0, .7);
    font-size: 2.2vh;
}

.linha{
    grid-column: 1/4;
    background: linear-gradient(90deg, #4B0082,  #8600e8);
    max-height: 1vh;
}

.linguagens{
    grid-column: 1/-1;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 3.5vh;
}

.linguagens-bloco{
    background: rgb(0, 0, 0,.01);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 10%;
}

.linguagens-bloco img{
    height: 8vh;
    width: 8vh;
}

.linguagens-bloco h3{
    font-size: 2.5vh;
}

.linguagens-bloco p{
    font-size: 2vh;
}